/* Variables */

/* Document & Container */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: #ffd966;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    width: 100%;
    background-color: #253237;
}

footer {
    height: 100px;
    background-color: #ffd966;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    z-index: 1;
    gap: 32px;
    color: white!important;
    flex-direction: column;
    justify-content: flex-start!important;
    width: 100%!important;
}

.legal-wrapper p, ul {
    width: 100%!important;
}

.legal-wrapper a {
    color: #FFD866;
}