/* Variables */

/* Document & Container */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    width: 100%;
    background-color: #253237;
}

footer {
    height: 100px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none;
}


/* Link Styling */

a {
    text-decoration: none;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poke";
    margin-block-start: 0;
    margin-block-end: 0;
}

@font-face {
    font-family: "poke";
    src: url("/assets/pocket-monk-font/poke.ttf");
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    z-index: 1;
    gap: 32px;
}

.small {
    cursor: pointer;
    padding: 24px !important;
}

.big {
    height: 300px;
}

.dialog {
    width: 600px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}