.grass {
    background-color: #7BC47F !important; /* Sanftes Grün */
}

.fire {
    background-color: #F5A282 !important; /* Sanftes Orange-Rot */
}

.water {
    background-color: #A3D8F4 !important; /* Sanftes Hellblau */
}

.bug {
    background-color: #B19CD9 !important; /* Sanftes Violett */
}

.normal {
    background-color: #E0B89F !important; /* Sanftes Sandbraun */
}

.poison {
    background-color: #C5E3A6 !important; /* Sanftes Gelbgrün */
}

.dark {
    background-color: #6A7BA2 !important; /* Sanftes Dunkelblau */
}

.electric {
    background-color: #F8E6A0 !important; /* Sanftes Gelb */
}

.ground {
    background-color: #D1A07F !important; /* Sanftes Braun */
}

.rock {
    background-color: #B0B0B0 !important; /* Sanftes Grau */
}

.psychic {
    background-color: #8FC1C1 !important; /* Sanftes Dunkelcyan */
}

.fairy {
    background-color: #F7C4D7 !important; /* Sanftes Rosa */
}

.ice {
    background-color: #A8E3E1 !important; /* Sanftes Türkis */
}

.dark {
    background-color: #9E7DAE !important; /* Sanftes Dunkelmagenta */
}

.dragon {
    background-color: #C28282 !important; /* Sanftes Dunkelrot */
}

.grassimg {
    background-color: #4CAF50 !important; /* Knalliges Grün */
}

.fireimg {
    background-color: #FF5733 !important; /* Knalliges Rot-Orange */
}

.waterimg {
    background-color: #2196F3 !important; /* Knalliges Blau */
}

.bugimg {
    background-color: #9C27B0 !important; /* Knalliges Violett */
}

.normalimg {
    background-color: #FFC107 !important; /* Knalliges Gelb */
}

.poisonimg {
    background-color: #8BC34A !important; /* Knalliges Grün */
}

.darkimg {
    background-color: #3F51B5 !important; /* Knalliges Dunkelblau */
}

.electricimg {
    background-color: #FFEB3B !important; /* Knalliges Gelb */
}

.groundimg {
    background-color: #FF9800 !important; /* Knalliges Orange */
}

.rockimg {
    background-color: #9E9E9E !important; /* Knalliges Grau */
}

.psychicimg {
    background-color: #00BCD4 !important; /* Knalliges Cyan */
}

.fairyimg {
    background-color: #E91E63 !important; /* Knalliges Pink */
}

.iceimg {
    background-color: #00E5FF !important; /* Knalliges Türkis */
}

.darkimg {
    background-color: #673AB7 !important; /* Knalliges Violett */
}

.dragonimg {
    background-color: #FF5252 !important; /* Knalliges Rot */
}

.flyingimg {
    background-color: sandybrown !important; /* Knalliges Rot */
}